<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid col-md-5">
        <img src="https://cdn-icons-png.flaticon.com/512/1068/1068778.png" width="30" height="24" alt="icon">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Sala De Juegos</a>
        </div>

    </div>
    <div class="container-fluid col-md-4">

        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item"><a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page"
                    class="nav-link">Home</a></li>
            <li class="nav-item"><a routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page"
                    class="nav-link">¿Quien Soy?</a></li>
            <li class="nav-item"><a routerLink="/juegos" routerLinkActive="active" ariaCurrentWhenActive="page"
                    class="nav-link">Juegos</a></li>
            <li class="nav-item"><a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page"
                    class="nav-link">Login</a></li>
        </ul>


    </div>
    <div class="container-fluid col-md-4">
        <span class="navbar-text">
            Navbar text with an inline element
        </span>
    </div>
</nav>







<!-- <nav class="navbar navbar-expand-lg bg-body-tertiary">

      <ul class="nav nav-pills">
        <li class="nav-item"><a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page"
            class="nav-link">Home</a></li>
        <li class="nav-item"><a routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page"
            class="nav-link">¿Quien Soy?</a></li>
        <li class="nav-item"><a routerLink="/juegos" routerLinkActive="active" ariaCurrentWhenActive="page"
            class="nav-link">Juegos</a></li>
        <li class="nav-item"><a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page"
            class="nav-link">Login</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Error</a></li>
        <li class="nav-item"><a href="#" class="nav-link">About</a></li>
      </ul>

  </nav> -->